@page "/projects"

<PageTitle>My projects</PageTitle>
<div class="page">
    <div class="grid">
        <div class="project">
            <img src="./images/PreventApp.webp" alt="PreventApp" width="600"/>
            <h3>PreventApp</h3>
            <p>Web application that scrapes and displays recent accidents on a map of Guadalajara.</p>
            <div>
                <a href="https://github.com/EdgarPinedo/PreventApp" class="button-bg" target="_blank">
                    <Icon iconSVG="@Icons.github" height="20" width="20" />
                </a>
                <a href="https://preventapp-6gzhluj7oa-uc.a.run.app/" class="button-bg" target="_blank">
                    <Icon iconSVG="@Icons.toPage" height="20" width="20" />
                </a>
            </div>
        </div>
        <div class="project">
            <img src="./images/mshop.webp" alt="Men Shop" width="600" />
            <h3>Men Shop</h3>
            <p>Online men's clothing store that allows you to simulate purchases and display orders.</p>
            <div>
                <a href="https://github.com/EdgarPinedo/MenShop" class="button-bg" target="_blank">
                    <Icon iconSVG="@Icons.github" height="20" width="20" />
                </a>
                <a href="https://men-shop-bxvgui2twa-uc.a.run.app/" class="button-bg" target="_blank">
                    <Icon iconSVG="@Icons.toPage" height="20" width="20" />
                </a>
            </div>
        </div>
        <div class="project">
            <img src="./images/imovies.webp" alt="iMovies" width="600" />
            <h3>iMovies</h3>
            <p>Movie application that shows details, allows searches and filters. Connects to an api.</p>
            <div>
                <a href="https://github.com/EdgarPinedo/iMovies" class="button-bg" target="_blank">
                    <Icon iconSVG="@Icons.github" height="20" width="20" />
                </a>
                <a href="https://imovies-53y53ufk5q-uc.a.run.app/" class="button-bg" target="_blank">
                    <Icon iconSVG="@Icons.toPage" height="20" width="20" />
                </a>
            </div>
        </div>
        <div class="project">
            <img src="./images/Portfolio.webp" alt="Portfolio" width="600" />
            <h3>Portfolio</h3>
            <p>Portfolio where I show information about me, my skills and my projects.</p>
            <div>
                <a href="#" class="button-bg" target="_blank">
                    <Icon iconSVG="@Icons.github" height="20" width="20" />
                </a>
                <a href="#" class="button-bg" target="_blank">
                    <Icon iconSVG="@Icons.toPage" height="20" width="20" />
                </a>
            </div>
        </div>
    </div>
</div>